fastapi
uvicorn[standard]
pydantic-settings
python-dotenv

sqlalchemy
psycopg
alembic
pwdlib[argon2]
PyJWT
email-validator
psycopg-binary

Authlib
httpx
python-multipart
itsdangerous

numpy
opencv-python
Pillow
transformers
torch
accelerate
sentence-transformers
qdrant-client
scikit-learn
rapidfuzz

paddleocr
paddlepaddle

